*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    padding:40px;
}
.container{
    max-width: 600px;
    margin: auto;
}
h1{
    text-align: center;
    margin-bottom: 25px;

}
.form-box {
   background-color: orchid;
   padding: 20px;
   border-radius: 10px;
}
input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    background: orange;
    color:white;
}
#result {
    margin-top 20px;
}
.student-card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;    
}
.student-card h2{
    margin-bottom: 10px;
}
.student-card p {
    margin: 5px 0;
}